services:

  oc-frontend:
    image: becongmbh/opencelium-frontend:v4.7
    container_name: oc-frontend
    tty: true
    depends_on:
      - oc-backend
      - mongodb
    restart: always
    ports:
      - 80:80
      - 443:443
    volumes:
      - frontend:/opt/opencelium/src/frontend/
      - ./conf/settings.json:/opt/opencelium/src/frontend/settings.json
# comment for ssl
      - ./conf/nginx.conf:/etc/nginx/conf.d/default.conf
# uncomment for ssl
#      - ./conf/nginx-ssl.conf:/etc/nginx/conf.d/default.conf
#      - ./conf/ssl/certs/:/etc/ssl/certs/
#      - ./conf/ssl/private/:/etc/ssl/private/
    networks:
      - oc-network

  oc-backend:
    image: becongmbh/opencelium-backend:v4.7
    container_name: oc-backend
    tty: true
    depends_on:
      mariadb:
        condition: service_healthy
      mongodb:
        condition: service_started
    restart: on-failure
    environment:
      MYSQL_USER: ${OC_MYSQL_USER:?err}
      MYSQL_PASSWORD: ${OC_MYSQL_PASSWORD:?err}
      OC_MONGODB_USER: ${OC_MONGODB_USER:?err}
      OC_MONGODB_PASSWORD: ${OC_MONGODB_PASSWORD:?err}
    expose:
      - 9090
    working_dir: /opt/opencelium
    volumes:
      - backend:/opt/opencelium/
      - oc-sql:/opt/opencelium/database
      - ./conf/application.yml:/opt/opencelium/src/main/resources/application.yml
      - ./invoker/:/opt/opencelium/runtime/invoker
      - ./templates/:/opt/opencelium/runtime/templates
      - ./logs/:/opt/opencelium/logs
    command: java -jar /opt/opencelium/build/libs/opencelium.backend-4.7.jar --spring.config.location=/opt/opencelium/src/main/resources/application.yml
    networks:
      - oc-network

  mariadb:
    image: mariadb:11.8.2
    container_name: oc-mariadb
    restart: always
    environment:
      MYSQL_DATABASE: ${OC_MYSQL_DATABASE:?err}
      MYSQL_ROOT_PASSWORD: ${OC_DB_ROOT_PASSWORD:?err}
      MYSQL_USER: ${OC_MYSQL_USER:?err}
      MYSQL_PASSWORD: ${OC_MYSQL_PASSWORD:?err}
    ulimits:
      memlock: "262144"
    volumes:
      - oc-sql:/docker-entrypoint-initdb.d
      - ./data:/data/db
      - ./mysql:/var/lib/mysql
    networks:
      - oc-network
    healthcheck:
      test: ["CMD", "mariadb", "-h", "localhost", "-u", "${OC_MYSQL_USER}", "-p${OC_MYSQL_PASSWORD}", "-e", "SELECT 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  mongodb:
    image: mongo:7.0.21
    container_name: oc-mongodb
    restart: always
    environment:
      OC_MONGODB_USER: ${OC_MONGODB_USER:?err}
      OC_MONGODB_PASSWORD: ${OC_MONGODB_PASSWORD:?err}
    expose:
      - 27017
    volumes:
      - ./data:/data/db
      - ./mongo-init.sh:/docker-entrypoint-initdb.d/mongo-init.sh
      - mongodb-config:/data/configdb
    networks:
      - oc-network

volumes:
   frontend:
   backend:
   oc-sql:
   mongodb-config:

networks:
   oc-network:
      driver: bridge
